
@import "utils/_variables.scss";
@import "components/_loader.scss";
@import "layout/_header.scss";
@import "layout/_position.scss";
@import "components/_bouton.scss";
@import "layout/_fonctionnement.scss";
@import "utils/_carte.scss";
@import "layout/_restaurants.scss";
@import "layout/_footer.scss";
@import "layout/_menu.scss";

body{
    font-family: $main-font;
    width: 100%;
    margin: auto;
}