.image_restaurant{
    overflow: hidden;
    height: 320px;
        &_img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center bottom;
    }
}

.restaurant_container_grey_background{
    position: relative;
    background-color: $color-background;
    border-radius: 45px 45px 0px 0px;
    margin-top:-50px;
    padding-bottom:10px;
}

.restaurant_container_menu{
    margin: $base-margin;
    &_title{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 27px 0;
    }
    &_text{
        font-family: $second-font;
        font-size: 23px;
        margin:0;
        width: 80%;
    }
}
.hoverheart:hover{
    .hoverheart_rempli{
        opacity: 1;
        // scale: 1;
        transition: 0.5s ease-in-out;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        
    }
    .hoverheart_transparent{
        opacity: 0;
        transition: 0.3s ease-in-out;
        
    }
}
.hoverheart_rempli{
    @include heart;
    opacity: 0;
    // scale: 0;
    bottom: 28px;
    font-size: 23px;
}
.hoverheart_transparent{
    @include heart;
    opacity: 1;
    bottom: 28px;
    font-size: 23px;
}


.menu{
    &_title{
        padding-bottom: 12px;
        text-transform: uppercase;
        font-size: $size-subtitle;
        font-weight: $weight-subtitle;
        margin:20px 0px 8px 0px;
        &::after{
            display: block;
            content: "";
            background-color: $turquoise;
            margin-top:5px;
            height: 3px;
            width: 40px;
        }
    }
}
.menu{
    display: flex;
    flex-direction: column;
    &_container{
        margin: 0 15px 15px 0;
        background: white;
        height: 70px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 7px $soft-grey;
        position: relative;
        overflow: hidden;
        &:hover .menu_container_subtitle{
            width: calc(100% - 65px);
            transition: width .5s ease-in-out;
        }
        &:hover .menu_container_confirmationbackground{
            transform: translateX(0px);
            transition: .5s ease-in-out;
            }
        &:hover .menu_container_confirmationlogo{
            transform: rotate(360deg);
            transition: .5s ease-in-out ;
            }
    }
    &_container_title{
        @include title;
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis; 
        }
    &_container_subtitle{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        transform-origin: left 50%;
        transition-duration: .5s;
    }
    &_container_text{
        @include subtitle ($size: 15px);
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;        
        }
    &_container_prix{
        margin: 0;
        font-weight: bold;
        padding-left: 10px;
        width:50px;
    }
    &_container_void{
        margin: 0;
        padding-left: 10px;
        width: 1px;
    }
    &_container_confirmationbackground{
        position: absolute;
        background-color: $turquoise;
        top: 0;
        bottom:0;
        right:0;
        width: 65px;
        transform-origin: right 50%;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(65px);
        overflow: hidden;
        transition-duration: .5s;
    }
    &_container_confirmationlogo{
        position:absolute;
        left: 20px;
        top: 25px;
        font-size: 25px;
        transform: rotate(0deg);
        color:white;
        opacity: 1;
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay1 {
    animation: fadeInUp 1s ease-in-out;
}

.delay2 {
    animation: fadeInUp 2s ease-in-out;
}

.delay3 {
    animation: fadeInUp 3s ease-in-out;
}

.delay4 {
    animation: fadeInUp 4s ease-in-out;
}

@media screen and (min-width: 768px) {
    .menu_container {
        
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }
    .menu_title {
        margin: auto;
    }
    .menu{
    padding-bottom: 2.5%;


    }
}

@media screen and (min-width: 1024px) {

    .menu_container {
        width: 60%;

    }

    .menu_title {
        font-size: x-large;

    }


    .menu_container_title{

    font-size: x-large;

    }

.menu_container_text{
    font-size: large;


}
.menu_container_prix{
    font-size: large;


}

}