.position{
    background: $color-background;
    padding-bottom: 30px;
}
.position_insert{
    background: $soft-grey;
    &_link{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-decoration: none;
    }
    &_text{
        margin: 0 25px;
        color: black;
    }
    &_icon{
        margin-bottom: 2px;
        color: black;
    }
}
.explorer_container{
    &_title{
        font-weight: $weight-title;
        font-size: $size-title;
        text-align: center;
        margin: 40px 50px 20px 50px;
    }
    &_text{
        font-weight: $weight-subtitle;
        font-size:18px;
        text-align: center;
        margin: 0 20px;
    }
}